<!doctype html>
<html lang="en">
<head>
  <!-- include head.html -->
  @@include('../layouts/head.html', {
  "title": "HTML Boilerplate"
})
<!-- include styles.html -->
@@include('../layouts/styles.html')
</head>
<body>
  <div class="wrapper">
    <!-- include header.html -->
    @@include('../layouts/header.html')

    <!-- include banner.html -->
    @@include('../partials/banner.html')

    <section class="beautiful-clean">
      <div class="container">
        <div class="title-beautiful-clean">
          <h2 class="text-center">Beautifule.Clean.Responsive</h2>
          <p class="text text-center animated slideInLeft">REEN is a high-quality solution for those who want a beautiful website in no time.It's fully responsive and will adapt itself to any mobile device. iPad, iPhone, Android, it doesn't matter. Your content will always looks its absolute best.
          </p>
        </div>
        <div class="list-beautiful-clean">
          <div class="row">
            <div class="col-md-4 col-12">
              <div class="items animated slideInLeft">
                <div class="row">
                  <div class="col-3">
                    <div class="icon">
                      <i class="far fa-heart"></i>
                    </div>
                  </div>
                  <div class="col-9">
                    <div class="content">
                      <h3 class="title">Passion</h3>
                      <p class="text">
                        Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="items">
                <div class="row">
                  <div class="col-3">
                    <div class="icon">
                      <i class="far fa-heart"></i>
                    </div>
                  </div>
                  <div class="col-9">
                    <div class="content">
                      <h3 class="title">Passion</h3>
                      <p class="text ">
                        Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="items animated slideInRight">
                <div class="row">
                  <div class="col-3">
                    <div class="icon">
                      <i class="far fa-heart"></i>
                    </div>
                  </div>
                  <div class="col-9">
                    <div class="content">
                      <h3 class="title">Passion</h3>
                      <p class="text">
                        Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="checkout-site wow bounceInUp" data-wow-duration="1.5s">
      <div class="container">
        <div class="title-checkout-site">
          <h2 class="text-center">Check out our latest works</h2>
          <p class="text-center">Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor.</p>
        </div>
        <div class="list-checkout-site">
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="card">
                <div class="img-list-checkout-site">
                  <a href=""><img src="./images/checkout-01.jpg" alt=""></a>
                </div>
                <div class="card-body">
                  <h4 class="card-title text-center">Grand Motel gets an identity brushup</h4>
                  <p class="card-text text-center">Identity</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="card">
                <div class="img-list-checkout-site">
                  <a href=""><img src="./images/checkout-02.jpg" alt=""></a>
                </div>
                <div class="card-body">
                  <h4 class="card-title text-center">Grand Motel gets an identity brushup</h4>
                  <p class="card-text text-center">Identity</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="muti-sliders">
          <div class="img-muti-slider">
            <a href=""><img src="./images/slide-01.jpg" alt=""></a>
          </div>
          <div class="img-muti-slider">
            <a href=""><img src="./images/slide-02.jpg" alt=""></a>
          </div>
          <div class="img-muti-slider">
            <a href=""><img src="./images/slide-03.jpg" alt=""></a>
          </div>
          <div class="img-muti-slider">
            <a href=""><img src="./images/slide-01.jpg" alt=""></a>
          </div>
          <div class="img-muti-slider">
            <a href=""><img src="./images/slide-03.jpg" alt=""></a>
          </div>
          <div class="img-muti-slider">
            <a href=""><img src="./images/slide-02.jpg" alt=""></a>
          </div>
          <div class="img-muti-slider">
            <a href=""><img src="./images/slide-01.jpg" alt=""></a>
          </div>
        </div>
      </div>
    </section>
    <section class="want-to-worlk wow bounceInUp" data-wow-duration="1.5s">
      <div class="container">
        <div class="title-want-to-worlk">
          <h2 class="text-center">Want to work with us?</h2>
          <p class="text-center animated slideInLeft">Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
        </div>
        <button class="btn-get-touch">get in touch</button>
      </div>
    </section>

    <!-- include footer.html -->
    @@include('../layouts/footer.html')
  </div>

  <!-- include scripts.html -->
  @@include('../layouts/scripts.html')
</body>
</html>