<footer>
  <div class="container">
    <div class="footer-content">
      <div class="row">
        <div class="col-md-3 col-12">
          <div class="who-we">
            <div class="title">
              <h4>who we are</h4>
              <div class="logo">
                <img src="./images/logo-02.png" alt="">
              </div>
            </div>
            <div class="text">
              <p>
                Magnis modipsae voloratati andigen daepeditem quiate re porem que aut labor. Laceaque eictemperum quiae sitiorem rest non restibusaes maio es dem tumquam.
              </p>
              <p>More about us <a href=""><i class="fas fa-long-arrow-alt-right"></i></a></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-12">
          <div class="latest-worlk">
            <h4 class="title">
              latest worlk
            </h4>
            <div class="list-img-latest-worlk">
              <div class="row">
                <div class="col-6">
                  <a href="">
                    <img src="./images/checkout-01.jpg" alt="">
                  </a>
                </div>
                <div class="col-6">
                  <a href="">
                    <img src="./images/checkout-02.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <a href="">
                    <img src="./images/checkout-02.jpg" alt="">
                  </a>
                </div>
                <div class="col-6">
                  <a href="">
                    <img src="./images/checkout-01.jpg" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="get-in-touch">
            <h4 class="title">
              get in touch
            </h4>
            <p class="text">
              Doloreiur quia commolu ptatemp dolupta oreprerum tibusam eumenis et consent accullignis dentibea autem inisita.
            </p>
            <p>
              <a href=""><i class="fas fa-map-marker-alt"></i></a>
              84 Street, City, State 24813
            </p>
            <p>
              <a href=""><i class="fas fa-mobile-alt"></i></a>
              +00 (123) 456 78 90
            </p>
            <p>
              <a href=""><i class="fas fa-envelope"></i></a>
              info@reen.com
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="updates">
            <h4>Free update</h4>
            <p>Conecus iure posae volor remped modis laut lor volor accabora incim resto explabo.</p>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> SUBSCRIBE</i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="row">
        <div class="col-md-6 col-12">
          <p>© 2014 REEN. All rights reserved.</p>
        </div>
        <div class="col-md-6 col-12">
          <div class="menu-footer">
            <ul class="list-menu">
              <li class="menu-items">
                <a href="">Home</a>
              </li>
              <li class="menu-items">
                <a href="">portflio</a>
              </li>
              <li class="menu-items">
                <a href="">blog</a>
              </li>
              <li class="menu-items">
                <a href="">about</a>
              </li>
              <li class="menu-items">
                <a href="">services</a>
              </li>
              <li class="menu-items">
                <a href="">contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
